<h1 id="header-movies" class="page-title">Buy tokens</h1>

<div class="container">
    <div class="row text-primary mb-30">
        <div class="col-xs-12 col-lg-8 offset-lg-2">
            <div class="input-group add-on">
                <input required class="form-control" id="wei-value" placeholder="Enter wei count" type="number">
                <div class="input-group-btn">
                    <button class="btn btn-red" id="buy-token-btn" type="submit">
                        <i class="fa fa-plus fa-fw"></i>
                        Buy
                    </button> 
                </div>
            </div>          
        </div>
    </div>
</div>