<div class="container">
    <div class="row">
        <h1 id="header-movies" class="page-title">Withdraw</h1>
    </div>

    <div class="col-xs-12" style="margin-bottom: 20px;">
        <form class="form-horizontal text-center" method="post" action="/#withdraw-amount">
            <div class="input-group add-on">
                <input required name="withdraw-amount" id="withdraw-amount" class="form-control" placeholder="Withdraw amount" type="number">
                <div class="input-group-btn">
                    <button style="background: #ce3b22;" class="btn btn-success" type="submit">
                        <i class="fa fa-angle-right fa-fw"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="col-xs-12">
        <form class="form-horizontal text-center" method="post" action="/#withdraw">
            <div class="form-group text-center">
                <button type="submit" class="btn btn-red btn-lg btn-block login-button">Withdraw whole balance</button>
            </div>
        </form>
    </div>
</div>